.fundo-azul {
    background-color: #3772FF;
}

.logo-pequena {
    width: 120px;
    height: auto;
}

.mancha-superior {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width:30%;
}

.cabecalho {
    margin-left: 6%;
    margin-top: 20px;
}

.logo-grande {
    width: 300px;
    height: auto;
}


.verde-bg {
    background-color: #36D6AD;
}

.espaco {
    margin-bottom: 300px;
}